<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #696969;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        form {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            max-width: 100%;
        }

        h1 {
            text-align: center;
            color: #000000;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #000000;
        }

        select,
        textarea {
            width: calc(100% - 16px);
            margin-bottom: 16px;
            padding: 8px;
            box-sizing: border-box;
        }

        textarea {
            height: 100px;
            resize: vertical;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            width: 100%;
        }

        /* Add the navigation styles here */
        header {
            background-color: #ffffff;
            padding: 20px;
            text-align: center;
            color: #fff;
        }

        nav {
            display: flex;
            justify-content: center;
            background-color: #000000;
            padding: 10px;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 20px;
            font-size: 16px;
        }

        nav a:hover {
            border-bottom: 2px solid #fff;
        }
    </style>
</head>
<body>
    <header>
        <h1>Wendys Forum</h1>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/add-post">Add Post</a>
        <a href="/profile">Profile</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/posts">Posts</a>
    </nav>

    <form action="/add-post" method="post">
        <h1>Add Post</h1>
        <label for="topic">Select Topic:</label>
        <select id="topic" name="topicId" required>
            <!-- Loop through topics to generate options -->
            <% topics.forEach(topic => { %>
                <option value="<%= topic.topic_id %>"><%= topic.topic_name %></option>
            <% }); %>
        </select>
        <br>
        <label for="text">Post Text:</label>
        <textarea id="text" name="text" required></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
