<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            padding: 10px;
            text-align: center;
        }

        h1 {
            color: #fff;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            background-color: #fff;
            margin: 10px 0;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .post-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        p {
            margin: 10px 0;
        }

        .post-text {
            white-space: pre-line; /* Preserve line breaks in the post text */
        }
    </style>
</head>
<body>
    <header>
        <h1>List of Posts</h1>
    </header>

    <% if (posts.length > 0) { %>
        <button onclick="clearPosts()">Clear All Posts</button>
        <ul>
            <% posts.forEach(post => { %>
                <li>
                    <div class="post-info">
                        <p><strong><%= post.topic_title %></strong></p>
                        <p>By <%= post.username %></p>
                    </div>
                    <p class="post-text"><%= post.text %></p>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No posts available.</p>
    <% } %>

    <script>
        function clearPosts() {
            fetch('/clear-posts', { method: 'POST' })
                .then(response => {
                    if (response.redirected) {
                        window.location.href = response.url;
                    }
                })
                .catch(error => console.error('Error clearing posts:', error));
        }
    </script>
</body>
</html>
